<div class="container">
  <h1>{{ 'pages.public.events.title' | translate }}</h1>
  @for (day of schedule; track day.date) {
    <div class="weekday">
      <div class="date">
        {{ day.date }}
        {{ monthLabel[day.month].short }}
      </div>
      <div class="content">
        @for (event of day.events; track event._id)  {
        <div class="event">
          <p class="time">{{ event.time }}</p>
          <h3>{{ event.title }}</h3>
          <h4>{{ event.subtitle ? event.subtitle : ' ' }}</h4>
        </div>
        }
      </div>
    </div>
  }
</div>
