<div class="container">
  <h1>Programma 2020</h1>
  <ng-container *ngIf="loading; else scheduleTemplate">
    <div class="weekday">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </ng-container>
  <ng-template #scheduleTemplate>
    <div class="weekday" *ngFor="let day of schedule">
      <div class="date">
        {{ day.date }}
        <ng-container *ngIf="!(isHandset$ | async); else monthAltTmpl">
          &nbsp;{{ monthLabel[day.month].full }}
        </ng-container>
        <ng-template #monthAltTmpl>/{{ monthLabel[day.month].short }}</ng-template>
      </div>
      <div class="content">
        <div class="event" *ngFor="let event of day.events">
          <p class="time">{{ event.time }}</p>
          <h3>{{ event.title }}</h3>
          <h4>{{ event.subtitle ? event.subtitle : ' ' }}</h4>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<app-gsr-footer></app-gsr-footer>
