@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");

/* ANIMATIONS - start */

// animation: fadeIn 0.5s ease;
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* ANIMATIONS - end */

/* BROWSER DEFAULT RESET - start */

* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* BROWSER DEFAULT RESET - end */

.hero {
  display: flex;
  width: 100%;
  height: 100vh;

  &:nth-child(odd):not(:first-child) {
    justify-content: end;
  }

  &.events {
    background-image: url('../../../../assets/images/home_events.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  &.food {
    background-image: url('../../../../assets/images/home_food.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  .main-content {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("/assets/images/home_landing_background.svg") no-repeat center center fixed;
    background-size: cover;

    p {
      color: var(--text-color);
      font-size: 18pt;
    }

    img {
      &.main-title {
        width: 65vw;
        animation: fadeIn 1s ease;
      }
    }
  }

  .scroll-icon {
    position: fixed;
    z-index: -1;
    width: 100%;
    margin-top: 85vh;
    display: flex;
    justify-content: center;

    .i {
      color: #00000066;
      font-size: 2rem;
    }
  }

  .column {
    width: 50%;
    background: #000000bb;
    color: #ffffff;

    .info {
      width: 50%;
      margin: auto;
      padding-top: 40vh;

      .number {
        color: #ffffff66;
        font-family: Playfair Display, serif;
        font-size: 5rem;
        font-weight: 400;
      }

      .section-title {
        margin: 1rem 0;
        font-size: 3rem;
        font-weight: 700;
      }

      .section-description {
        color: #ffffff66;
        margin: 2.5rem 0 1.5rem 0;
      }

      .section-link {
        padding: 0.5rem 0;
        text-decoration: none;
        color: #ffffff;
        border-bottom: 1px solid #f9d63966;

        &:hover {
          border-bottom-color: #f9d639;
        }
      }
    }
  }
}

/* MOBILE DEVICES */

@media screen and (max-width:999px) {
  .hero {
    .main-content {
      p {
        font-size: 1rem;
      }
    }
    .column {
      width: 100%;

      .info {
        .number {
          font-size: 4rem;
        }

        .section-title {
          font-size: 2rem;
        }
      }
    }
  }
}
