@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");

/* ANIMATIONS - start */

// animation: fadeIn 1s ease;
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

// animation: fadeIn 3s ease;
@keyframes fadeInDelayed {
  0% {
    opacity: 0;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 0;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

// animation: bounce 2s ease infinite;
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

/* ANIMATIONS - end */

/* BROWSER DEFAULT RESET - start */

* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* BROWSER DEFAULT RESET - end */

.hero {
  display: flex;
  width: 100%;
  height: 100vh;

  &:nth-child(odd):not(:first-child) {
    justify-content: end;
  }

  &.events {
    background-image: url('../../../../assets/images/home_events.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  &.food {
    background-image: url('../../../../assets/images/home_food.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  .main-content {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("/assets/images/home_landing_background.svg") no-repeat center center fixed;
    background-size: cover;

    p {
      color: var(--text-color);
      font-size: 22pt;
      animation: fadeIn 1s ease;
    }

    h1 {
      position: relative;
      color: var(--text-color);
      font-size: 96pt;
      animation: fadeIn 3s ease;

      &::before {
        content: 'SMDN';
        position: absolute;
        color: var(--surface-300);
        font-family: 'Carneys', cursive, sans-serif;
        font-size: 75pt;

        z-index: -1;
      }
    }
  }

  .scroll-icon {
    position: fixed;
    z-index: -1;
    width: 100%;
    margin-top: 85vh;
    display: flex;
    justify-content: center;

    i {
      background-color: var(--surface-d);
      color: var(--text-color);
      font-size: 16pt;
      padding: .75rem;
      border-radius: 50%;
      animation: bounce 2s ease infinite;
    }
  }

  .column {
    width: 50%;
    background: #000000bb;
    color: #ffffff;

    .info {
      position: relative;
      width: 50%;
      margin: auto;
      padding-top: 40vh;
      font-family: var(--font-family);

      .number {
        position: absolute;
        color: #ffffff22;
        font-size: 300pt;
        transform: translate(-22%, -50%);
      }

      .section-title {
        margin: 1rem 0;
        font-size: 60pt;
        position: relative;
        z-index: 1;
      }

      .section-description {
        color: #ffffff66;
        margin: 2.5rem 0 1.5rem 0;
        font-size: 16pt;
        position: relative;
        z-index: 1;
      }

      .section-link {
        padding: .75rem 1rem;
        text-decoration: none;
        background-color: var(--primary-color);
        color: var(--primary-color-text);
        border-radius: 50px;
        position: relative;
        z-index: 1;

        &:hover {
          background-color: var(--primary-700);
        }
      }
    }
  }
}

/* MOBILE DEVICES */

@media screen and (max-width:999px) {
  .hero {
    .main-content {
      p {
        font-size: 1.5rem;
      }
    }
    .column {
      width: 100%;

      .info {
        .number {
          font-size: 4rem;
        }

        .section-title {
          font-size: 2rem;
        }
      }
    }
  }
}
