<div class="hero">
  <div class="main-content flex flex-column justify-content-center align-items-center">
    <p>{{ translatePrefix + 'subtitle' | translate }}</p>
    <h1 class="bernier">{{ translatePrefix + 'title' | translate }}</h1>
  </div>
  <div class="scroll-icon">
    <i class="pi pi-chevron-down"></i>
  </div>
</div>
<div class="hero events">
  <div class="column">
    <div class="info">
      <div class="section-title bernier">{{ translatePrefix + 'events.title' | translate }}</div>
      <div class="section-description">{{ translatePrefix + 'events.subtitle' | translate }}</div>
      <a class="section-link" routerLink="/events">{{ translatePrefix + 'events.cta' | translate }}</a>
    </div>
  </div>
</div>
<div class="hero food">
  <div class="column">
    <div class="info">
      <div class="section-title bernier">{{ translatePrefix + 'food.title' | translate }}</div>
      <div class="section-description">{{ translatePrefix + 'food.subtitle' | translate }}</div>
      <a class="section-link" routerLink="/restaurants">{{ translatePrefix + 'food.cta' | translate }}</a>
    </div>
  </div>
</div>
