::ng-deep {
  nav[smdn-nav] {
    .p-slidemenu {
      .p-slidemenu-wrapper {
        width: 100% !important;

        ul {
          width: 100% !important;
        }
      }
    }
  }
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 144pt;
  }
}
