body {
  margin: 0;
  padding: 0;
}


* {
  /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
  scrollbar-width: none;

  /* Chrome, Edge and Safari */
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}
