@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");

@keyframes Slide_Up_Title {
  0% {
    transform: translateY(500px);
  }

  35% {
    transform: translateY(500px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes Slide_Up_Subtitle {
  0% {
    transform: translateY(500px);
  }

  25% {
    transform: translateY(500px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes Slide_In {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  width: 100%;
  height: 100vh;
}

.hero:nth-child(odd):not(:first-child) {
  justify-content: end;
}

.hero:nth-child(2) {
  background-image: url('../../../../assets/images/home_events.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.hero:nth-child(3) {
  background-image: url('../../../../assets/images/home_food.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.hero .main-content {
  position: fixed;
  z-index: -1;
  margin: 30vh 10vh;
}

.hero .main-content h1 {
  font-family: Playfair Display, serif;
  font-size: 10rem;
  font-weight: 700;
  animation: Slide_Up_Title 2s ease;
}

.hero .main-content h3 {
  font-family: Playfair Display, serif;
  font-size: 7rem;
  font-weight: 400;
  animation: Slide_Up_Subtitle 1.5s ease;
}

.hero .main-content p {
  margin: 1rem 0;
  color: #00000066;
  font-size: 1.5rem;
  animation: Slide_In 0.5s ease;
}

.hero .scroll-icon {
  position: fixed;
  z-index: -1;
  width: 100%;
  margin-top: 85vh;
  display: flex;
  justify-content: center;
}

.hero .scroll-icon .mat-icon {
  color: #00000066;
  font-size: 2rem;
}

.hero .column {
  width: 50%;
  background: #000000bb;
  color: #ffffff;
}

.hero .column .info {
  width: 50%;
  margin: auto;
  padding-top: 40vh;
}

.hero .column .info .number {
  color: #ffffff66;
  font-family: Playfair Display, serif;
  font-size: 5rem;
  font-weight: 400;
}

.hero .column .info .section-title {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 700;
}

.hero .column .info .section-description {
  color: #ffffff66;
  margin: 2.5rem 0 1.5rem 0;
}

.hero .column .info .section-link {
  padding: 0.5rem 0;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #f9d63966;
}

.hero .column .info .section-link:hover {
  border-bottom-color: #f9d639;
}

/* MOBILE DEVICES */

@media screen and (max-width:999px) {
  .hero .main-content h1 {
    font-size: 5rem;
  }

  .hero .main-content h3 {
    font-size: 3rem;
  }

  .hero .main-content p {
    font-size: 1rem;
  }

  .hero .column {
    width: 100%;
  }

  .hero .column .info .number {
    font-size: 4rem;
  }

  .hero .column .info .section-title {
    font-size: 2rem;
  }
}
