<div class="hero">
  <div class="main-content">
    <p>Dal 30 luglio al 2 agosto a Vezzano sul Crostolo</p>
    <h3>È tempo di</h3>
    <h1>sagra!</h1>
  </div>
  <div class="scroll-icon">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</div>
<div class="hero">
  <div class="column">
    <div class="info">
      <div class="number">01</div>
      <div class="section-title">Eventi</div>
      <div class="section-description">Scopri che eventi ti aspettano alla nostra sagra</div>
      <a class="section-link" routerLink="/events">vai al programma</a>
    </div>
  </div>
</div>
<div class="hero">
  <div class="column">
    <div class="info">
      <div class="number">02</div>
      <div class="section-title">Ristorazione</div>
      <div class="section-description">La fame si fa sentire? Visita i nostri punti ristoro!</div>
      <a class="section-link" routerLink="/orders">ordina subito</a>
    </div>
  </div>
</div>
<app-gsr-footer></app-gsr-footer>
